body {
  background-color: #b4bfcfcb;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #17134d;
}

.controle {
  margin-bottom: 15px;
}

input[type="text"] {
  padding: 10px;
  width: 250px;
  border: 2px solid #3d367e;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #513d80;
  color: white;
  font-size: 14px;
}

.radio {
  margin: 10px 0;
}

.contbotao {
  margin-top: 15px;
}

#container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nota {
  width: 300px;
  padding: 12px;
  margin: 8px 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.urgente {
  color: rgb(158, 44, 44);
}

.naoUrgente {
  color: rgb(234, 236, 104);
}
